@using System.Linq
@model List<Core.Entities.Topic>

<div class="offcanvas-body">
    <ul class="list-group list-group-flush">
        @foreach (var tutorial in Model)
        {
            <li class="list-group-item d-flex align-items-start">
                <i class="bi bi-arrow-right-circle bullet-icon"></i>
                <a href="@Url.Action("Topic", "Home", new { id = tutorial.Id , topicName = tutorial.TopicName})" class="text-wrap ms-2">
                    @tutorial.TopicName                        
                </a>
                @if (User.Identity.Name == "admin231@gmail.com")
                {
                    <i class="bi bi-trash delete-tutorial-icon text-danger" data-tutorial-id="@tutorial.Id" data-current-page="@ViewBag.CurrentPage" data-bs-toggle="modal" data-bs-target="#confirmDeleteTutorialModal"
                        title="Delete" style="cursor: pointer;"></i>
                }
            </li>
        }
    </ul>
</div>
